header, footer{
  display: flex;
}
header > div, footer > div{
  flex: 1;
}
header{
  justify-content: center;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
}
